*{
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary {
    background: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
}
.btn-secondary{
    height: 64px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    padding: 18px 35px;
    font-weight: 700;
    background: #FFF8F3;
}
/* Header and nav style */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin:0 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 130px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    margin-top: 30px;
}
/* about section styles */

.about{
    background-color: #FFF8F3;
    
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color:#181818;
    margin-bottom: 50px;
}
.section-description{
    font-size: 18px;
    text-align: center;
    color:#757575;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-title{
    font-size: 20px;
    color: #757575;
}
.about-info-description{
    font-size: 20px;
    font-weight: 700;
    color:#474747
}
.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    color:#181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
color: #757575;
}
.skill-main-description{
    padding: 0 115px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.resume-content{
    display: flex;
    gap:24px;
}
.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
 .title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
    color: #474747;
}
 .sub-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
    color: #757575;
}
.resume-item .description{
    color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact style */
.contact{
    display: flex;
    gap:100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
    margin-bottom: 20px;
}
.contact .section-description{
    margin-bottom: 30px;
    font-size: 16px;
}
.contact a{
    text-decoration: none;
}
.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}